$darkgrey: #444
$grey: #ccc

text
    fill: $darkgrey
    font-size: 12px

.background
    fill: none
    pointer-events: all

.unit
    cursor: pointer
    fill: $grey
    stroke: $darkgrey
    stroke-width: .5px

.legend-bg
    fill: #fff
    fill-opacity: .8

.legend-bar
    stroke: $darkgrey
    stroke-width: 1px
